<%= content_for :sitemap do %>
<span class="current">列表</span>
<% end %>
<%= render 'base' %>
<div class="tools">
  <a href="<%= posts_path %>" class="button">查看所有</a>
  <a href="<%= new_post_path %>" class="button">新建</a>
</div>

<div id="posts">
  <%= grid(@posts, :show_filters => :always) do |g|
    g.column :column_name => '', :attribute_name => 'id', :no_filter => true
    g.column :column_name => 'title', :attribute_name => 'title'
    g.column :column_name => 'body', :attribute_name => 'body'
    g.column :column_name => 'user_id', :attribute_name => 'user_id'
    g.column :column_name => '创建时间', :attribute_name => 'created_at'
    g.column :column_name => '操作' do |c|
      raw "#{link_to '修改', edit_post_path(c.id)}
      #{link_to '删除', post_path(c.id), :method => :delete, :confirm => '确定要删除吗?'}"
    end
  end %>
</div>
<%= tags -%>
<embed width=200 height=240 
flashvars="tcolor=0x333333&amp;tcolor2=0x333333&amp;hicolor=0x555555&amp;tspeed=100&amp;distr=true&amp;mode=both&amp;tagcloud=<tags>
  <a href='www.tag1.com' style='12' color='0x333333' hicolor='0xffffff'>成本核算</a>
  <a href='www.tag1.com' style='12' color='0x333333' hicolor='0xffffff'>音频接口</a>
  <a href='www.tag1.com' style='12' color='0x333333' hicolor='0xffffff'>一直持续</a>
  <a href='www.tag1.com' style='12' color='0x333333' hicolor='0xffffff'>绩效考核</a>
  <a href='www.tag1.com' style='12' color='0x333333' hicolor='0xffffff'>ss可中午不想?</a>
  <a href='www.tag2.com' style='12' color='0x333333' hicolor='0xffffff'>tag2</a></tags>" 
allowscriptaccess="always" 
wmode="transparent" 
quality="high" 
bgcolor="#000000" 
name="tagcloudflash" 
id="tagcloudflash" src="/flash/tagcloud.swf" type="application/x-shockwave-flash"/> 

<%= cloud_tag_part('hello', 'http://l') -%> 

<%= html_tag_demo -%>

<p style="color: rgb(118, 118, 118); font-size: 8pt;">&copy; 
