<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%
  if @page_title
    title="Sill - #{h(@page_title)}"
  elsif @project
    title="Sill - #{h(@project.name)}"
  else
    title='Sill'
  end
%>
<title><%= title %></title>
<meta name="description" content="Rails and Extjs applications." />
<link rel="icon" type="image/x-icon" href="<%= image_path('favicon.ico') -%>" />
<link rel="shortcut icon" type="image/x-icon" href="<%= image_path('favicon.ico') -%>" />

<style type="text/css">
#loading-mask {
  background-color: white;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20000;
}

#loading {
  height: auto;
  position: absolute;
  left: 45%;
  top: 40%;
  padding: 2px;
  z-index: 20001;
}

#loading a {
  color: #225588;
}

#loading .loading-indicator {
  background: white;
  color: #444;
  font: bold 13px Helvetica, Arial, sans-serif;
  height: auto;
  margin: 0;
  padding: 10px;
}

#loading-msg {
  font-size: 10px;
  font-weight: normal;
}

</style>
</head>

<body id="docs">
<div id="loading-mask" style=""></div>
<div id="loading">
    <div class="loading-indicator">
        <img src="<%= image_path 'ajax_load36.gif' %>"
        width="36" height="32" style="margin-right:8px;float:left;vertical-align:top;"/>应用程序 :-)
        <a href="http://www.sencha.com">sencha.com</a><br /><span id="loading-msg">正在装载样式和图片资源...</span>
    </div>
</div>

<%= stylesheet_link_tag "ext_icon" %>
<%= stylesheet_link_tag "../javascripts/ext/resources/css/ext-all", :media => 'all' %>

<script type="text/javascript">document.getElementById('loading-msg').innerHTML = '正在装载基本库...';</script>
<% if ENV['RAILS_ENV'] == 'production'%>
  <%= javascript_include_tag "ext/adapter/ext/ext-base" %>
<% else %>
  <%= javascript_include_tag "ext/adapter/ext/ext-base-debug" %>
<% end %>
<script type="text/javascript">document.getElementById('loading-msg').innerHTML = '正在装载组件...';</script>
<% if ENV['RAILS_ENV'] == 'production'%>
  <%= javascript_include_tag "ext/ext-all", "ext/ext-lang-zh_CN" %>
<% else %>
  <%= javascript_include_tag "ext/ext-all-debug", "ext/ext-lang-zh_CN"  %>
<% end %>
<script type="text/javascript">document.getElementById('loading-msg').innerHTML = '正在初始化...';</script>

<script type="text/javascript">
  //<![CDATA[
  Ext.BLANK_IMAGE_URL = 'javascripts/ext/resources/images/default/s.gif';
  //]]>
</script>

<%= stylesheet_link_tag "app" %>
<%= stylesheet_link_tag "eredg4" %>
<%= stylesheet_link_tag "ext_patch_firefox" %>
<%= javascript_include_tag "ext.ux/TabCloseMenu.js" %>
<%= javascript_include_tag "app/app.js" %>

<div id="header">
    <img style="margin-left: 5px" src="<%= image_path 'title-ext.png' %>" alt="Ext JS API Documentation" height="49" width="380" />
    <div style="float:right; margin-top: 15px;margin-right: 10px;color: #CCC">
        <a href="http://dev.sencha.com/deploy/dev/examples/" style="padding:5px">登录用户</a> |
        <a href="http://www.sencha.com/" style="padding:5px">sencha.com</a>
    </div>
</div>

<div id="classes"></div>

<div id="main"></div>

<select id="search-options" style="display:none">
    <option>Starts with</option>
    <option>Ends with</option>
    <option>Any Match</option>
</select>
</body>
</html>
